<div class="list-group list-group-flush">
    <a href="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a href="/class" class="list-group-item list-group-item-action bg-light">Classes</a>
    <a href="/teacher" class="list-group-item list-group-item-action bg-light">Teachers</a>
</div>
</div>