<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">WELCOME <span class="member-name"></span> </div>
        {{>pageparts/aside}}

        <!-- Page Content -->
        <div id="page-content-wrapper">

            {{>pageparts/navbar}}


            <div class="container-fluid">
                <h1 class="mt-4">CLASSES</h1>

                {{#each data}}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="class-container">
                                <table class="table text-light">
                                    <thead>
                                        <tr>
                                            <th>{{name}}</th>
                                            <th>{{location}}</th>
                                            <th>
                                                <button class="btn btn-success" data-id="{{id}}" , id="add-class">Add
                                                    Class</button>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>