<div style="background-image: url('https://bellwethereducation.org/sites/default/files/miles-to-go.jpg');">
  <div id="login" >

    <h1 class="text-center text-black pt-5">Rate your teachers!</h1>
    <div class="container">

      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">

            <form id="login-form" class="form" action="" method="post">
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="email address" required>
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="password"
                  required>
              </div>
              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="login">
              </div>
              <br>
              <br>
              <div id="register-link" class="text-right">
                <h6>Don't have an account?</h6>
                <a href="/signup" class="text-info">Sign up here.</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>