<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">WELCOME <span class="member-name"></span> </div>
    <div class="list-group list-group-flush">
      <a href="/profile" class="list-group-item list-group-item-action bg-light">My Profile</a>
      <a href="/class" class="list-group-item list-group-item-action bg-light">My Classes</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">My Teachers</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">My Books</a>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Sign Out</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> Dropdown </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My Account</a>
              <a class="dropdown-item" href="#">Sign out</a>


            </div>
          </li>
        </ul>
      </div>
    </nav>



    <div class="container-fluid">
      <h1 class="mt-4">MY PROFILE</h1>

      <div><img
          src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1214428300?b=1&k=6&m=1214428300&s=612x612&w=0&h=kMXMpWVL6mkLu0TN-9MJcEUx1oSWgUq8-Ny6Wszv_ms="
          width="200px" height="200px" alt="">
        <button type="button" class="btn btn-light">EDIT IMAGE</button>
      </div>
      <br>
      <ul class="list-group" style="width: 36rem;">
        <li class="list-group-item">First Name:<span class="first-name"></span></li>
        <li class="list-group-item">Last Name:<span class="last-name"></span></li>
        <li class="list-group-item">Email:<span class="email"></span></li>
        <li class="list-group-item">Phone Number:<span class="phone"></span></li>
      </ul>


    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>