<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">WELCOME <span class="member-name"></span> </div>
    {{>pageparts/aside}}

    <!-- Page Content -->
    <div id="page-content-wrapper">
      {{>pageparts/navbar}}



      <div class="container-fluid">
        <h1 class="mt-4">MY PROFILE</h1>

        <div><img
            src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1214428300?b=1&k=6&m=1214428300&s=612x612&w=0&h=kMXMpWVL6mkLu0TN-9MJcEUx1oSWgUq8-Ny6Wszv_ms="
            width="200px" height="200px" alt="">
          <button type="button" class="btn btn-light">EDIT IMAGE</button>
        </div>
        <br>
        {{!----------------------------------- TODO -------------------------------------------------}}
        {{!-- Each --}}
        <div id="profile-information">
          <ul class="list-group profile-user-edit" style="width: 36rem;">
            <li class="list-group-item">First Name: <span id="student-first-name" class="first-name"></span></li>
            <li class="list-group-item">Last Name: <span id="student-last-name" class="last-name"></span></li>
            <li class="list-group-item">Email: <span id="student-email" class="email"></span></li>
          </ul>

        </div>

        <div class="container-fluid">
          <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <div class="lh-100">
              <h6 class="mb-0 text-white lh-100">Teachers</h6>
              <small>University of Washington Bootcamp</small>
            </div>
          </div>

          <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
            {{#each teachers}}
            {{>pageparts/profileteacher}}
            {{/each}}
          </div>
        </div>

      </div>
      <div class="container-fluid">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Classes</h6>
            <small>University of Washington Bootcamp</small>
          </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
          {{#each classes}}
          {{>pageparts/profileclass}}
          {{/each}}
        </div>
      </div>


    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>