<div id="background-image-building">
  <div id="signup">
    <h2 class="text-center text-black pt-5">Registration Form</h2>
    <div class="container">
      <div id="signup-row" class="row justify-content-center align-items-center">
        <div id="signup-column" class="col-md-6">
          <div id="signup-box" class="col-md-12">

            <form id="signup-form" class="form" action="" method="post">
              <h3 class="text-center text-info">Sign Up</h3>

              <div class="form-group">
                <input type="text" name="firstname" id="firstname" class="form-control" placeholder="first name"
                  required>
              </div>
              <div class="form-group">
                <input type="text" name="lastname" id="lastname" class="form-control" placeholder="last name" required>
              </div>
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="email address" required>
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="password"
                  required>
              </div>
              <div class="form-group">
                <input type="password" name="confirm" id="confirm" class="form-control" placeholder="confirm password"
                  required>

              </div>
              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="sign up">
                <span id='message'></span>
                <br>
                <br>
                <p>Or <a href="/">Log in here!</a></p>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>