<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">WELCOME <span class="member-name"></span> </div>
        <div class="list-group list-group-flush">
            <a href="/profile" class="list-group-item list-group-item-action bg-light">My Profile</a>
            <a href="/class" class="classbtn list-group-item list-group-item-action bg-light">Classes</a>
            <a href="/teacher" class="teacherbtn list-group-item list-group-item-action bg-light">Teachers</a>

        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">&#9776;</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Account</a>
                            <a class="dropdown-item" href="#">Sign out</a>


                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="container-fluid">
            <h1 class="mt-4">TEACHERS</h1>

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="teacher-container">
                        <table class="table  text-light">
                            <thead>
                                <tr>
                                    {{!-- <th>#</th> --}}
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Degree</th>
                                    <th>Rating</th>
                                    <th>Department</th>
                                    <th>Add</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>