
body {
    margin: 0;
    padding: 0;
    background-color: #84beb1;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#signup .container #signup-row #signup-column #signup-box {
    margin-top: 120px;
    max-width: 600px;
    height: 450px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#signup .container #signup-row #signup-column #signup-box #signup-form {
    padding: 20px;
}

#signup .container #signup-row #signup-column #signup-box #signup-form #register-link {
    margin-top: -85px;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    background-color: #EAEAEA;
}

#sidebar-wrapper {
    background-color: #2c0f0f;

}

#page-content-wrapper {
    min-width: 100vw;
    background-color: #17a2b8;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}





@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}